testsfml/x64/** 
x64/** 
dependancies/** 
.vs/**
*.suo
*.user
*.aps
*.pch
*.vscode
*.vs
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.log
*.tlog
*.idb
*.ipch
*.obj
*.pdb
*.ilk
*.msi
*.exe
*.dll
*.lib
*.so
*.dylib
*.ncb
*.bak
*.cache
*.ilk
*.log
*.tlog
*.zi
*.zip
*.xls
*.xlsx
*.db
*.db3
*.mdb
*.tmp
